body {
    header, footer {
        background-color: pink;
        padding: 18px;
    }
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

h2{
    color: aqua;
}

footer p{
    color: blue;
    font-size: small;
}

.site-title{
    color: blue;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

ul.hobbies{
    list-style-type: square ;
}


nav ul {
    list-style: none;
    padding: 0;
}
nav li{
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: wavy;
    background-color: pink;
    border: 1px solid black;
    padding: 10px 14px;
}
nav a:hover,
nav a:focus{
    background-color: beige;
}