body {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
header,footer{
    background-color: pink;
}

h2{
    color: aqua;
}

footer p{
    color: blue;
    font-size: 14px;
}

.site-title{
    color: blue;
}

#my-image {
    box-shadow: 0px 0px 2px 1px  black;
}

.my-hobbies{
    list-style-type:square  ;
}
.my-hobbies li{
    background-color: pink;
}


nav ul {
    list-style: square;
    padding: 0;
}
nav li{
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: wavy;
    background-color: pink;
    border: 1px solid black;
    padding: 10px 14px;
}
nav a:hover,
nav a:focus{
    background-color: beige;
}